/* body{
    background-color: aquamarine;
} */

/* home heading */      
/* .h1{
    font-family:'Georgia',serif;
} */
 
/* navbar list */
/* li{
    font-family: 'Arial', sans-serif ;
    padding: 12px;
} */
/* 
li:hover{
    background-color: skyblue;
} */
 /* navbar padding */
/* .header{
    background-color: rgb(8, 31, 28);
    height: 50px;
} */
