{% extends 'core/index.html' %}

{% block content %}

<div class="container-fluid">
    <div class="col-sm-4 offset-4 bg-white" >
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="alert alert-{{message.tags}} mt-3 alert-dismissible fade show" {% endif %} role="alert">{{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close">
                    </button>
                </p>
            {% endfor %}
        {% endif %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3 alert-dismissible fade show" role="alert">{{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close">
                    </button>
                </p>
            {% endfor %}
        {% endif %}
        <h1 class=" text-center">Victim Page</h1>
        <form action="" method="post" novalidate class="shadow p-5">
            {% csrf_token %}
            {% for fm in form %}
                    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br>
            {% endfor %} <br>
            <input type="submit" class='btn btn-outline-info' value="submit">
            <a href="{% url 'adminhome' %}" class='btn btn-outline-primary offset-1'>Back</a>
            <a href="{% url 'VictimData' %}" class="offset-1 col-sm-1"><input type="button" class='btn btn-outline-info ' value="View"></a>
        </form>
    </div>
</div>

{% endblock content %}